{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<h1>Enter Person Details</h1>
    <form method="POST" action="/submit/">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br><br>
        <button type="submit">Submit</button>
    </form>
{%endblock%}    